<?xml version="1.0"?>
<!--
/**
 * (c) Anton Ohorodnyk <anton@ohorodnyk.name>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Module/etc/module.xsd">
    <module name="Magento_DebugComment" setup_version="0.0.1"/>
</config>
