<?xml version="1.0"?><!--
/**
 * (c) Anton Ohorodnyk <anton@ohorodnyk.name>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\Template">
        <plugin name="debug_comment_hints" type="Magento\DebugComment\Model\TemplateEngine\Plugin\DebugHints" sortOrder="10"/>
    </type>
</config>
