<?xml version="1.0"?>
<!--
/**
 * (c) Anton Ohorodnyk <anton@ohorodnyk.name>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="dev">
            <group id="debug">
                <field id="template_hints_comment" translate="label" type="select" sortOrder="10" showInDefault="0" showInWebsite="1" showInStore="1">
                    <label>Template Path Hints in HTML comments</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
